---
    import Link from "./Link.astro";
    import { Image } from "astro:assets";
    import SiteLogo from "../assets/SiteLogo.png";
    import HamburgerMenu from "./HamburgerMenu.astro";
    import type { NavItem } from '../site.config';
    const { navItems = [], currentPath = "/", siteTitle = "" } = Astro.props;
---

<div class="navbar bg-base-100 shadow-sm fixed top-0 left-0 w-full z-50">
    <div class="navbar-start">
        <!-- Mobile Dropdown -->
        <div class="dropdown">
            <HamburgerMenu />
            <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-10 mt-3 w-52 p-2 shadow">
                {navItems.map((item: NavItem) => (
                <li>
                    <Link href={item.href} active={currentPath===item.href}>{item.name}</Link>
                </li>
                ))}
            </ul>
        </div>
        <!-- Logo or App Name -->
        <a class="btn btn-ghost text-xl" href="/">
            <Image src={SiteLogo} alt="Logo" class="h-8 w-8 mr-2" />
        </a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            {navItems.map((item: NavItem) => (
            <li>
                <Link href={item.href} active={currentPath===item.href}>{item.name}</Link>
            </li>
            ))}
        </ul>
    </div>
    <div class="navbar-end">
        <a class="btn">Button</a>
    </div>
</div>